/* Asegúrate de que el body ocupe al menos el 100% de la altura de la ventana */
body {
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: white;
    color: #333;
    padding: 5px 0;
    font-size: 16px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.4);
    margin-top: 15px;
    width: 90%;
    z-index: 1000;
    justify-content: space-between;
    display: flex;
    align-items: center;
    text-align: center;
    border-radius: 15px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

header.sticky {
    position: fixed;
    top: 0;
}

/* Estilos para los divs */
.logo {
    height: auto;
    width: 200px;
    margin-top: 5px;
    margin-left: 15px;
    padding-left: 15px;
}

.logo:hover {
    cursor: pointer;   
}

.secciones {
    flex: 1;
    display: flex;
    justify-content: center;
}

.logos {
    display: flex;
    margin-right: 15px;
}

.logo_ig, .logo_wsp {
    height: 50px;
    width: 50px;
    filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.2));
    padding: 5px;
}

.nav-menu {
    display: none;
    width: 100%;
}

.menu-toggle {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
}

.secciones nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se ajusten en múltiples filas si es necesario */
    justify-content: center;
}

nav ul li {
    margin: 0 50px;
}

nav ul li a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s, background-color 0.3s, border-bottom 0.3s;
    font-size: 26px; /* Ajusta el tamaño de la letra de los enlaces aquí */
    padding: 5px 0;
    border-bottom: 2px solid transparent;
}

nav ul li a:hover {
    color: #D71820;
    border-bottom: 2px solid #D71820; /* Subraya el texto al pasar el mouse y en la sección activa */
}

/* Estilos responsivos era 768px*/
@media (max-width: 1156px) {
    header {
        position: relative;
        width: 95%;
    }
    
    header.sticky {
        position: relative;
        top: 0;
    }

    .menu-toggle {
        order: 0;
        display: block;
        margin-left: 0px;
    }
    
    .logo_header {
        order: 1;
        margin-left: 0px;
    }
    
    .logos {
        order: 2;
        margin-top: 10px;
        margin-right: 0px;
    }

    .secciones {
        display: none;
        width: 100%;
    }
}

.carousel-item {
    height: auto;
}

.d-block {
    height: 100%;
    object-fit: cover;
}

footer {
    background-color: white;
    color: white;
    padding-top: 30px;
    text-align: center;
}

.form-title {
    color: #333;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5em;
}

footer h2 {
    font-size: 20px;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    margin: 0 auto;
    background-color: #444;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-label {
    margin: 10px 0 5px;
    font-size: 16px;
    color: #ddd;
    align-self: flex-start;
}

.form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}

.form-control:focus {
    border-color: #66afe9;
    outline: none;
    box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
}

textarea.form-control {
    height: 100px;
    resize: vertical;
}

.btn {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #28a745;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #218838;
}

.footer-section {
    background-color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    border-top: 1px solid #ccc;
}

.footer-section-container {
    padding-bottom: 10px;
    padding-top: 10px;
    display: flex;;
}

.footer-section div {
    flex: 1;
    line-height: 0.75;
}

.footer-section {
    margin-top: 15px;
}

.footer-logo {
    max-height: 80px;
    transition: transform 0.3s;
}

.footer-section .contact-method {
    text-align: left;
}

.footer-section .social-media {
    text-align: left;
    line-height: 1;
}

.footer-section .ubicacion {
    text-align: left;
}

.social-media h2 {
    margin-bottom: 20px;
    font-size: 20px;
    color: white;
}

.social-media a {
    margin: 0 10px;
    display: inline-block;
}

.social-media img {
    width: 50px;
    height: 50px;
    transition: transform 0.3s;
}

.social-media img:hover {
    transform: scale(1.1);
}

/* Estilos responsivos */
@media (max-width: 1156px) {
    .footer-section .footer-logo {
        max-height: 50px;
    }
    
    .ubicacion {
        display: none;
    }

    .contact-method {
        display: none;
    }

    .social-media h2 {
        margin-bottom: 5px;
        font-size: 14px;
        text-align: center;
    }

    .social-media {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        text-align: center;
    }
    
    .footer-social-media-icons {
        display: flex;
        justify-content: center;
        gap: 20px; /* Espacio entre los íconos */
        margin-top: auto;
    }
    
    .footer-social-media-icons a img {
        width: 40px; /* Ajusta el tamaño de los íconos según lo necesites */
        height: 40px;
    }
}