/* Asegúrate de que el body ocupe al menos el 100% de la altura de la ventana */
body {
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: white;
    color: #333;
    padding: 5px 0;
    font-size: 16px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.4);
    margin-top: 15px;
    width: 90%;
    z-index: 1000;
    justify-content: space-between;
    display: flex;
    align-items: center;
    text-align: center;
    border-radius: 15px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

header.sticky {
    position: fixed;
    top: 0;
}

/* Estilos para los divs */
.logo {
    height: auto;
    width: 200px;
    margin-top: 5px;
    margin-left: 15px;
    padding-left: 15px;
}

.logo:hover {
    cursor: pointer;   
}

.secciones {
    flex: 1;
    display: flex;
    justify-content: center;
}

.logos {
    display: flex;
    margin-right: 15px;
}

.logo_ig, .logo_wsp {
    height: 50px;
    width: 50px;
    filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.2));
    padding: 5px;
}

.nav-menu {
    display: none;
    width: 100%;
}

.menu-toggle {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
}

.secciones nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se ajusten en múltiples filas si es necesario */
    justify-content: center;
}

nav ul li {
    margin: 0 50px;
}

nav ul li a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s, background-color 0.3s, border-bottom 0.3s;
    font-size: 26px; /* Ajusta el tamaño de la letra de los enlaces aquí */
    padding: 5px 0;
    border-bottom: 2px solid transparent;
}

nav ul li a:hover {
    color: #D71820;
    border-bottom: 2px solid #D71820; /* Subraya el texto al pasar el mouse y en la sección activa */
}

/* Estilos responsivos era 768px*/
@media (max-width: 1268px) {
    header {
        align-items: center;
    }

    nav ul li {
        margin: 5px 40px;
    }

    .logo_header {
        order: 1;
        margin-left: 0px;
    }

    .logos {
        order: 2;
        margin-top: 10px;
        margin-right: 0px;
    }

    .secciones {
        display: none;
        width: 100%;
    }

    .menu-toggle {
        order: 0;
        display: block;
        margin-left: 15px;
    }
}

@media (max-width: 480px) {
    .logo {
        width: 150px;
    }

    nav ul li a {
        font-size: 16px;
    }
}