/* Asegúrate de que el body ocupe al menos el 100% de la altura de la ventana */
body {
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

footer {
    background-color: #333;
    color: white;
    padding-top: 30px;
    text-align: center;
}

footer h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    margin: 0 auto;
    background-color: #444;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-label {
    margin: 10px 0 5px;
    font-size: 16px;
    color: #ddd;
    align-self: flex-start;
}

.form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}

.form-control:focus {
    border-color: #66afe9;
    outline: none;
    box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
}

textarea.form-control {
    height: 100px;
    resize: vertical;
}

.btn {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #28a745;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #218838;
}

.footer-section {
    background-color: #28a745;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    border-top: 1px solid #ccc;
}

.footer-section-container {
    padding-left: 200px;
    padding-right: 200px;
    display: flex;;
    justify-content: top;
    align-items: top;
}

.footer-section div {
    flex: 1;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 0px;
    line-height: 0.75;
}

.footer-section .footer-logo {
    max-height: 80px;
    transition: transform 0.3s;
    margin-top: 15px;
}

.footer-section .footer-logo:hover {
    transform: scale(1.1);
}

.footer-section .contact-method {
    text-align: left;
}

.footer-section .social-media {
    text-align: left;
}

.footer-section .ubicacion {
    text-align: left;
}

.social-media h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: white;
}

.footer-section .social-media a {
    margin: 0 10px;
    display: inline-block;
}

.social-media img {
    width: 50px;
    height: 50px;
    transition: transform 0.3s;
}

.social-media img:hover {
    transform: scale(1.1);
}